{% extends "images_wall/root.html" %}
{% load staticfiles %}
{% load getToken %}
{% block body %}
<div class = "navigation">
    <nav>
        <ul>
            <li>
                <p>
                    <a href = "{% url "wall" 1 %}">Wall</a>
                </p>
            </li>
        </ul>
    </nav>
</div>
    <div class = "task-status">
        {% if task %}
            <h1>{{ task.id }}</h1>
            <img src = "{% static "resize_task/img/Rolling-1s-67px.gif" %}" style = "display: none;" class = "progr" />
            <h2 class = "status">{{ status }}</h2>
        {% else %}
            <h1>Task Not Found</h1>
        {% endif %}
    </div>
{% endblock body %}
{% block scripts %}
    <script type = "text/javascript">
        function launchApp() {
            {% if task and status != "SUCCESS" and status != "FAILURE" %}
                var timerStatus = true;
                var t = '{{ request|token }}'
                var url = "{% url "showTask" task.id %}"
            {% else %}
                var timerStatus = false;
                var t = null;
                var url = null;
            {% endif %}
            mainApplication(url, timerStatus, t);
        };
    </script>
    <script type = "text/javascript" src = "{% static "resize_task/js/ajaxTaskStatus.js" %}"></script>
{% endblock scripts %}