﻿{% extends "images_wall/root.html" %}
{% block styles %}{% endblock styles %}
{% block body %}
<div class = "navigation">
    <nav>
        <ul>
            <li>
                <p>
                    <a href = "{% url "wall" 1 %}">Wall</a>
                </p>
            </li>
        </ul>
    </nav>
</div>
    <form id = "resize" name = "resize" method = "post" action = "{% url "resize" id %}">
        <table>
            <tr><td>{% csrf_token %}</td></tr>
            {{ form.as_table }}
            <tr><td><input type = "submit" value = "Resize" /></td></tr>
        </table>
    </form>
    <div class = "image-place">
        <img src = "{{ image.url }}" />
    </div>
{% endblock body %}
{% block scripts %}{% endblock scripts %}