﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ titl }}</title>
    <link rel = "stylesheet" href = "{% static "images_wall/css/style.css" %}" />
    {% block styles %}{% endblock styles %}
</head>
<body>
    <div id = "content">
        {% block body %}{% endblock body %}
    </div>
    <div>
        {% block scripts %}{% endblock scripts %}
    </div>
</body>
</html>