{% extends "images_wall/root.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel = "stylesheet" href = "{% static "images_wall/css/wall.css" %}" />
{% endblock styles %}
{% block body %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <ul class = "wall">
        {% for item in items.object_list %}
            <li>
                {% with item.id as id %}
                    <a href = "{% url "showImage" id %}">
                        <img src = "{{ item.thumb.url }}" />
                    </a>
                    <h2><a href = "{% url "showImage" id %}">{{ item.name }}</a></h2>
                    {% with item.resizedImage as resizedImage %}
                        {% if resizedImage %}
                            <small>{{ item.addedBy.username }}</small>
                            <small>{{ item.addTime|date:"Y:m:d h:m" }}</small>
                            <form id = "resize" name = "resize" method = "post" action = "{% url "resize" id %}">
                                {% csrf_token %}
                                {% with resizedImage.resizedImage as resizedImage %}
                                    <label for = "x">X</label>
                                    <input type = "text" id = "width" name = "width" class = "item-width" value = "{{ resizedImage.width }}" required />
                                    <label for = "y">Y</label>
                                    <input type = "text" id = "height" name = "height" class = "item-height" value = "{{ resizedImage.height }}" required />
                                {% endwith %}
                                <input type = "submit" value = "Resize" />
                            </form>
                        {% else %}
                            <p>Original</p>
                            <small>{{ item.addedBy.username }}</small>
                            <small>{{ item.addTime|date:"Y:m:d h:m" }}</small>
                            <form id = "resize" name = "resize" method = "post" action = "{% url "resize" id %}">
                                {% csrf_token %}
                                {% with item.originImage as originalImage %}
                                    <label for = "x">X</label>
                                    <input type = "text" id = "width" name = "width" class = "item-width" value = "{{ originalImage.width }}" required />
                                    <label for = "y">Y</label>
                                    <input type = "text" id = "height" name = "height" class = "item-height" value = "{{ originalImage.height }}" required />
                                {% endwith %}
                                <input type = "submit" value = "Resize" />
                            </form>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            </li>
        {% empty %}

        {% endfor %}
    </ul>
    {% ifequal items.has_other_pages True %}
        <div id = "navigation">
            {% ifequal items.has_previous True %}
                <p><a href = "{% url "wall" items.previous_page_number %}">Prev</a></p>
            {% endifequal %}
            <p>{{ items.number }}</p>
            {% ifequal items.has_next True %}
                <p><a href = "{% url "wall" items.next_page_number  %}">Next</a></p>
            {% endifequal %}
        </div>
    {% endifequal %}
{% endblock body %}